
  body {
      font-family: "Raleway";
      position: relative; 
  }
  .anchor{
    position: relative;
    top: -50px;
  }
  .experienceHeader{text-decoration: underline;}
  .body_text {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 100;
	word-wrap: break-word;
  }
  .box_header
  {
    font-family: "Raleway";
    font-weight: 300;
    padding-bottom: 4px;
    border-bottom: 2px #FFFFFF solid;
    text-align: center;
    
  }
  #navbar{font-family: "Segoe UI", "Raleway";}
  #headerText {
  background-color: rgba(0, 0, 0, .4);
  margin-top:170px; 
  padding-bottom:1px;
  }
  #name-text{
  text-align: center;
  font-size:48px;
  }
  #title{text-align: center;}
  #section0 {
    max-height: 100%; 
    max-width: 100%;
    padding: 50px 0 0 0;
    height:500px;color: #fff; 
    background-image: url(http://spohngellert-o.github.io/PersonalSite/docs/pic2.jpg);
    background-size: 100% 100%;
  }
  #section1 {
    min-height:500px;
    color: #fff; 
    background-color: #00001A;
    border-bottom: white 3px solid; 
    color: white;
    padding-bottom: 15px;}
  #container1{width: 80%;}
  #section2 {
    min-height:500px;
    color: #fff; 
    background-color: #00001A;
    color: white;
    border-bottom: white 3px solid;
    padding-bottom: 15px;
  }
    #container2{width: 80%;}
  #section3 {
    min-height:500px;
    color: #fff; 
    background-color: #00001A;
    border-bottom: white 3px solid;
    color: white;
    padding-bottom: 15px;
  }
  #container3{width: 80%;}
  #section4 {min-height:500px;
    color: #fff; 
    background-color: #00001A;
  }
  #container4{width: 80%;}
  #linkedIn{
    color: white; 
    text-decoration:underline;
  }
  #linkedIn:hover{color:lightgray;}
  
  
  
  

  
 
  
