<section id="projects">
<div class="container">
  <h2>Projects</h2>
  <div class="panel panel-default">
    <div class="panel-body">
    	<h3 style='text-decoration: underline; margin-bottom: 2px;'> Completed </h3>
		<h5><strong>Titanic Survival Problem</strong> - Created a model for the Titanic Survival Problem on Kaggle that predicted with 79.4% accuracy. See the kernel <a href='https://www.kaggle.com/ospohngellert/titanic-kernel-79-4-accuracy/' style='font-weight: bold;'>here</a>. This was a first project for me, so in the future I'll look to improve on this when I have more experience.</h5>
    </div>
  </div>
</div>
</section>
